<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>get_request</title>
</head>
<body>
	get request

	<form id="form" action="/process_get" method="GET">
		<input type="text" name="username" id="username">
		<input type="text" name="pwd" id="pwd">
		<input type="button" value="submit" id="btn">
	</form>
	<script src="/js/jquery.min.js"></script>
	<script>
		
		
		$("#btn").on("click",function(){
			var username = $("#username").val();
			console.log(username);
			var pwd = $("#pwd").val();
			console.log(pwd);
			var datastr={"username":username,"pwd":pwd};
			$.ajax({
				url:"/process_get",
				data:datastr,
				dataType:"json",
				success:function (obj) {
					console.log(obj);
					console.log("success");
				},
				error:function (err) {
					console.log(err);
					console.log("error");
				}
			});
			console.log(1)
		})
		
	</script>
</body>
</html>